doctype html
html
    head
        title=Graficzne_3d
        link(rel='stylesheet', src='/css/style.css')
        link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
        script(src='http://code.jquery.com/jquery-1.8.0.min.js')
        script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')

        // Pretty fucked up scripts loading

        script(src='js/settings/base.js')
        script(src='js/objects/base.js')
        script(src='js/app.js')
    body
        block content
